<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.koreate.dao.MemberDao">
	<select id="regBefor" resultType="mbvo">
		SELECT * FROM XXCompany_Member WHERE username = #{username} AND isOut = 0
	</select>
	<select id="registerCheckPostMethod" resultType="mbvo">
		SELECT * FROM XXCompany_Member WHERE username = #{username}
	</select>
	<select id="getPasswordHashByDto" resultType="String">
		SELECT password FROM XXCompany_Member
		WHERE joindate = #{joindate} AND username = #{username} AND isOut = 0
	</select>
	<insert id="registerPostMethod">
		INSERT INTO XXCompany_Member(username, joindate, password)
		VALUES (#{username}, #{joindate}, #{password})
	</insert>
	<update id="registerUpdatePostMethod">
		UPDATE XXCompany_Member SET password = #{password}, joindate = #{joindate}, isOut = 0
		WHERE username = #{username}
	</update>
	<select id="Login" resultType="mbvo">
		SELECT * FROM XXCompany_Member
		WHERE username = #{username} AND joindate = #{joindate} AND password = #{password} AND isOut = 0
	</select>
	<select id="profilesGetMethod" resultType="mbvo">
		SELECT * FROM XXCompany_Member WHERE username = #{username} AND isOut = 0
	</select>
	<update id="authoritySavePostMethod">
		UPDATE XXCompany_Member SET auth = #{auth}
		WHERE userno = #{userno} AND isOut = 0
	</update>
	<select id="sessionUpdateMethod" resultType="mbvo">
		SELECT * FROM XXCompany_Member WHERE userno = #{userno} AND isOut = 0
	</select>
	<select id="membersGetMethod" resultType="mbvo">
		SELECT * FROM XXCompany_Member WHERE isOut = 0
	</select>
	<select id="infoPostMethod" resultType="mbvo">
		SELECT * FROM XXCompany_Member WHERE userno = #{userno} AND isOut = 0
	</select>
	<update id="deletePostMethod">
		UPDATE XXCompany_Member SET isOut = 1
		WHERE userno = #{userno}
	</update>
	<select id="getUserAuthByUsername" resultType="String">
		SELECT auth FROM XXCompany_Member WHERE username = #{username} AND isOut = 0
	</select>
</mapper>