/.git/
/.metadata/
/.recommenders/
/BoardSample_MVC/
/BoardSample_MVC/target/
/BoardSample_MVC/src/main/webapp/WEB-INF/properties/
/XXCompany_MVC/target/
/XXCompany_MVC/src/main/webapp/WEB-INF/properties/
/Servers/

*.zip
/boot0[0-9]/
/Sample/
/Security_Sample/
